body {
    font-family: 'Poppins';
    background-color: #FBFCFD;
    color: #264A99;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-left: auto;
    margin-bottom: auto;
}

.navbar {
    height: 80px;
    background: #FBFCFD;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1
}

.navbar-nav {
    margin-left: 121px;
}

.collapse {
    margin-right: 100px;
}

h1 {
    font-weight: bold;
}

.nav-item a {
    margin-left: 82px;
    color: #264A99;
}

.navbar-brand img {
    height: 43px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 121px;
}

#hero-img {
    width: 558px;
    height: 412.34px;
    margin-top: 85px;
}

#col-md-6 {
    max-width: 500px;
    margin-top: auto;
    margin-bottom: auto;
}

.section-hero {
    height: 656px;
    margin-left: auto;
    margin-right: auto;
    
}

.col-md-6 h3 {
    font-size: 35px;
    font-weight: 600;
    margin-top: 124px;
    margin-bottom: 0;
}

.col-md-6 h1 {
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 0;
}

.hero__desc {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0;
}

.col-md-6 button {
    background-color: transparent;
}

.container {
    margin-bottom: auto;
}

.hero__title {
    font-size: 58px;
    font-weight: 900;
    margin-bottom: 1.5rem;
}
  
.hero__desc {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.section-about {
    padding-top: 60px;
    padding-bottom: 155px;
    background-color: #264A99;
    margin-left: auto;
    margin-right: auto;
}

#about-img {
    height: 500px;
    width: 500px;
    margin-bottom: auto;
}

.col-md-5 {
    /* color: #ffffff; */
}

.col-md-5 h2 {
    font-weight: 700;
    font-size: 42px;
    margin-top: 151px;
    margin-bottom: 70px;
    text-align: center;
}

.col-md-5 p {
    font-size: 18px;
    font-weight: 500px;
    width: 585px;
    height: 149px;
    text-align: center;
    margin-bottom: 70px;
}

.btn-talk {
    background: #264A99;
    border-radius: 30px;
    color: #ffffff;
}

.btn {
    /* margin-top: 20px; */
    font-size: 22px;
    border-radius: 30px;
    font-size: 16px;
}
  

.btn-primary {
    background-color: #264A99;
    border: 2px solid #264A99;
}
  
.btn-primary:hover {
    background-color: transparent;
    border: 2px solid #264A99;
    color: #264A99;
}

.btn-dribbble {
    background-color: transparent;
    border: 2px solid #264A99;
    color: #264A99;
    margin-left: auto;
    margin-right: auto;
}

.btn-dribbble:hover {
    background-color: #FFD200;
    color: #ffffff;
}

.button {
    border: none;
    padding: 0;
    margin-top: 20px;
}
  
.about-title {
    color: #ffffff;
}

.about-desc {
    color: #ffffff;
}

.btn-secondary {
    background-color: #FFD200
}

.btn-secondary:hover {
    background-color: #ffffff;
    color: #264A99;
}

.card {
    /* background-color: #FFD200; */
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.05);
    display: block;
    margin-top: 40px;
}

.section-specializing {
    margin-top: -140px;
}

.col-md-4 {
    display: inline-block;
    padding: 0;
    width: 220px;
    margin-left: 0;
    margin-right: 40px;
}

#col-desc-left {
    display: inline-block;
    padding: 0;
    padding-left: 120px;
}

#col-desc-right {
    display: inline-block;
    padding: 0;
    padding-right: 160px;
    text-align: right;
}

#col-img-right {
    display: inline-block;
    padding: 0;
    padding-left: 130px;
}

#col-img-left {
    display: inline-block;
    padding: 0;
    padding-left: 120px;
}

#col-img-left img {
    box-shadow: inset -5px -20px 30px rgba(51, 119, 85, 0.2);
    filter: drop-shadow(0px 50px 80px rgba(0, 0, 0, 0.15));
    border-radius: 20px;
}

#col-img-right img {
    filter: drop-shadow(0px 50px 80px rgba(0, 0, 0, 0.15));
}

.card-body h1 {
    margin-bottom: 40px;
}

.card-title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.card-text {
    font-weight: normal;
    font-size: 16px;
    color: #767779;
}

.card-body {
    padding: 30px;
}

.col-table {
    display: table-cell;
    float: none;
    height: 100%;
}

/* .col-content {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
} */

/* .col-centered {
    display: inline-block;
    float: none;
} */

.card-body h1 {
    font-weight: bold;
    font-size: 48px;
}

.col-content {
    width: 250px;
    margin-left: 15px;
    margin-right: 15px;
}

.col-content h3 {
    margin-top: 25px;
}

#col-portfolios h1 {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
}



.col-md-12 p {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

#col-desc-left h3 {
    font-weight: 500;
    font-size: 30px;
    color: #FDB735;
    margin-bottom: 0;
}

#col-desc-left p {
    font-weight: normal;
    font-size: 16px;    
    color: #767779;
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 25px;
}

#col-desc-right h3 {
    font-weight: 500;
    font-size: 30px;
    color: #FDB735;
    margin-bottom: 0;
}

#col-desc-right p {
    font-weight: normal;
    font-size: 16px;    
    color: #767779;
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 25px;
}

.div-btn {
    text-align: center;
    margin-top: 45px;
}



